.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-description {
    margin-bottom: 30px;
}

/* .inventory {
    
} */
.droppables {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.merging-droppables {
    display: flex;
    align-items: center;

    position: relative;
}

#merge-history {
    position: absolute;
    top: 0px;
    left: 263px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;

    min-height: 100px;
    min-width: 360px;

    /* border: 1px solid; */
    font-size: 12px;
    font-weight: 700;
    color:#283D3B;
}

#score {
    position: absolute;
    top: 43px;
    left: -114px;

    font-size: 13px;
    font-weight: 700;
    color:#283D3B;
}

#reset {
    position: absolute;
    top: 102px;
    left: -191px;

    border: 2px solid #283D3B;
    border-radius: 5px;
    background-color: #FFE1C2;
    font-family: inherit;
    cursor: pointer;
}

#reset:hover {
    background-color: #d8bca0;
}

#inventory {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(auto-fill, 70px);
    gap: 6px;

    height: 400px;
    width: 600px;
    padding: 10px;
    border: 2px solid #283D3B;
    border-radius: 5px;
    margin: 5px;

    background-color: #FFE1C2;
}

#mergingA {
    height: 70px;
    width: 80px;
    padding: 10px;
    border: 2px dashed #283D3B;
    border-radius: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;

    background-color: #FFE1C2;
}

#mergingB {
    height: 70px;
    width: 80px;
    padding: 10px;
    border: 2px dashed #283D3B;
    border-radius: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;

    background-color: #FFE1C2;
}


.card {
    min-width: 50px;
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 4px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: white;
    color: darkslategrey;
    box-shadow: 1px 1px 3px 0px #283D3B;

    cursor: grab;
}

.recent-recipe {
    animation-name: recent-recipe;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-delay: 0s;
}

@keyframes recent-recipe {
    0% {
        transform:translateZ(-800px) rotateX(90deg);
        opacity:0;
    }
    50% {
        transform:translateZ(-160px) rotateX(87deg);
        opacity:1;
    }
    100% {
        transform:translateZ(0) rotateX(0);
    }
}

.recent-result {
    animation-name: recent-result;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-delay: 0s;
}

@keyframes recent-result {
    0% {
        transform:scale(3);
        animation-timing-function:ease-in;
        opacity:0;
    }
    35% {
        transform:scale(1);
        animation-timing-function:ease-out;
        opacity:1;
    }
    55% {
        transform:scale(1.5);
        animation-timing-function:ease-in;
    }
    70% {
        transform:scale(1);
        animation-timing-function:ease-out;
    }
    80% {
        transform:scale(1.24);
        animation-timing-function:ease-in;
    }
    90% {
        transform:scale(1);
        animation-timing-function:ease-out;
    }
    95% {
        transform:scale(1.04);
        animation-timing-function:ease-in;
    }
    100% {
        transform:scale(1);
        animation-timing-function:ease-out;
    }
}

.merge-failures {
    animation-name: merge-failures;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-delay: 0s;
}

@keyframes merge-failures {
    0% {
        transform:translateX(0%);
        transform-origin:50% 50%;
    }
    15% {
        transform:translateX(-30px) rotate(-6deg);
    }
    30% {
        transform:translateX(15px) rotate(6deg);
    }
    45% {
        transform:translateX(-15px) rotate(-3.6deg);
    }
    60% {
        transform:translateX(9px) rotate(2.4deg);
    }
    75% {
        transform:translateX(-6px) rotate(-1.2deg);
    }
    100% {
        transform:translateX(0%);
        transform-origin:50% 50%;
    }
}

.merge-history-item {
    animation-name: move-up;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-delay: 0s;
}

@keyframes move-up {
    0% {
        transform:translateZ(700px) translateY(100px);
        opacity:0;
    }
    100% {
        transform:translateZ(0) translateY(0);
        opacity:1;
    }
}